body {
    font-family: "Montserrat", sans-serif;
    background-color: #141414;
    height: 100vh;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    color: #f7f6f9;
}

.shopping-message {
    color: #9b9b9b;
    font-size: 1rem;
    margin-top: 0px;
    font-weight: 300;
    line-height: 1.5;
}

img {
    width: 150px;
    margin-bottom: 40px;
    margin: 0px auto 40px;
}

label {
    color: #9b9b9b;
    text-align: start;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

input, button {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin: 5px 0;
    font-weight: bold;
}

input {
    background-color: #f7f6f9;
}

input:hover {
     box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.6);
}

.btn {
    background-color: #4da75b;
    color: whitesmoke;
}

.btn:hover {
    background-color: #77d685;
    color: #000;
    
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 0;
    overflow: auto;
}

ul li {
    background-color: #141414;
    border: 1px solid #f7f6f9;
    color: #fff;
    padding: 15px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 999px;
    flex-grow: 1;
    font-weight: 400;
}

ul li:hover {
    background-color: #f7f6f9;
    color: #000;
}


.log-out {
    color:lightsalmon
}

.log-out:hover {
    color: lightcoral;
    cursor: pointer;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-name {
    color: #4da75b;
    cursor: pointer;
}

.user-name:hover {
    color: #77d685;
}


